@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  };
  .before-content-none::before {
    content: "";
  }
}

/* Fancy Button */
.fancy-btn {
  background-image: linear-gradient(135deg, #00d372, #56acff 34%, #7179ef 67%, #d87cac);
  border-radius: 100em;
  padding: 0.2vw;
  max-width: 100%;
  display: inline-block;
}

/* Bottom Fade */
.bottom_fade {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 20.1275%, rgba(255, 255, 255) 100%);
}

/* SVG Curve */
.line {
  height: 1px;
  position: relative;

  width: 100%;

  margin-bottom: 20px;
}

.line svg {
  position: absolute;

  height: 100px;

  width: 100%;

  top: -50px;
}

.line svg path {
  stroke-width: 1px;

  stroke: white;

  fill: none;
}

.box {
  height: 40px;

  width: 100%;

  display: flex;

  position: relative;

  top: -20px;

  z-index: 1;
}